@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }
  .slick-slide:focus {
    outline: none; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../images/ajax-loader.gif") center center no-repeat; }

/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 54px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: #fff;
  color: transparent;
  top: 45%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 2px 4px 0 rgba(126, 144, 166, 0.45); }
  @media screen and (max-width: 1440px) {
    .slick-prev,
    .slick-next {
      height: 54px;
      width: 54px; } }
  @media screen and (max-width: 400px) {
    .slick-prev,
    .slick-next {
      opacity: 0.7;
      height: 38px;
      width: 38px; } }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: #fff;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.75; }
  .slick-prev:before,
  .slick-next:before {
    font-family: FontAwesome;
    font-size: 13px;
    line-height: 1;
    color: #3f5375;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto; }

.slick-prev {
  left: -3.5%; }
  @media screen and (max-width: 1660px) {
    .slick-prev {
      left: -3.5%; } }
  @media screen and (max-width: 1440px) {
    .slick-prev {
      left: -3.5%; } }
  @media screen and (max-width: 1366px) {
    .slick-prev {
      left: -3.5%; } }
  @media screen and (max-width: 1130px) {
    .slick-prev {
      left: -7px; } }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -3.5%; }
    @media screen and (max-width: 1660px) {
      [dir="rtl"] .slick-prev {
        right: -3.5%; } }
    @media screen and (max-width: 1440px) {
      [dir="rtl"] .slick-prev {
        right: -3.5%; } }
    @media screen and (max-width: 1366px) {
      [dir="rtl"] .slick-prev {
        right: -3.5%; } }
    @media screen and (max-width: 1130px) {
      [dir="rtl"] .slick-prev {
        right: -7px; } }
  .slick-prev:before {
    content: ""; }
    [dir="rtl"] .slick-prev:before {
      content: ""; }

.slick-next {
  right: -3.5%; }
  @media screen and (max-width: 1660px) {
    .slick-next {
      right: -3.5%; } }
  @media screen and (max-width: 1440px) {
    .slick-next {
      right: -3.5%; } }
  @media screen and (max-width: 1366px) {
    .slick-next {
      right: -3.5%; } }
  @media screen and (max-width: 1130px) {
    .slick-next {
      right: -7px; } }
  [dir="rtl"] .slick-next {
    left: -3.5%;
    right: auto; }
    @media screen and (max-width: 1660px) {
      [dir="rtl"] .slick-next {
        left: -3.5%; } }
    @media screen and (max-width: 1440px) {
      [dir="rtl"] .slick-next {
        left: -3.5%; } }
    @media screen and (max-width: 1366px) {
      [dir="rtl"] .slick-next {
        left: -3.5%; } }
    @media screen and (max-width: 1130px) {
      [dir="rtl"] .slick-next {
        left: -7px; } }
  .slick-next:before {
    content: ""; }
    [dir="rtl"] .slick-next:before {
      content: ""; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: FontAwesome;
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.75;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 1; }

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Light"), url("../fonts/montserrat-0.woff") format("woff"), url("../fonts/montserrat-0.woff2") format("woff2"), url("../fonts/montserrat-0.ttf") format("truetype");
  /* OLD Safari, Android, iOS */
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat"), url("../fonts/montserrat-1.woff") format("woff"), url("../fonts/montserrat-1.woff2") format("woff2"), url("../fonts/montserrat-1.ttf") format("truetype");
  /* OLD Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat SemiBold"), url("../fonts/montserrat-2.woff") format("woff"), url("../fonts/montserrat-2.woff2") format("woff2"), url("../fonts/montserrat-2.ttf") format("truetype");
  /* OLD Safari, Android, iOS */
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Bold"), url("../fonts/montserrat-3.woff") format("woff"), url("../fonts/montserrat-3.woff2") format("woff2"), url("../fonts/montserrat-3.ttf") format("truetype");
  /* OLD Safari, Android, iOS */
  font-weight: 700;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Font Awesome 5 Pro';
  src: local("Font Awesome 5 Pro Regular"), url("../fonts/fa-regular-400.woff") format("woff"), url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.ttf") format("truetype");
  /* OLD Safari, Android, iOS */
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Font Awesome 5 Pro';
  src: local("Font Awesome 5 Pro Solid"), url("../fonts/fa-solid-900.woff") format("woff"), url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.ttf") format("truetype");
  /* OLD Safari, Android, iOS */
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
body {
  font-family: "Montserrat", sans-serif;
  height: 100%; }

main {
  padding-top: 70px;
  min-height: calc(100vh - 154px);
  display: block; }

strong, b {
  font-weight: 600; }

/*                        
* Preloader
*/
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(0.2, 0.2, 0.2);
    transform: scale3d(0.2, 0.2, 0.2); } }
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(0.2, 0.2, 0.2);
    transform: scale3d(0.2, 0.2, 0.2); } }
@-webkit-keyframes pulse2 {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0); } }
@keyframes pulse2 {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@-webkit-keyframes pulse3 {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0); }
  90% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes pulse3 {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0); }
  90% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.main-loaderm {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px; }

.loader1 {
  width: 20px;
  height: 20px;
  background-color: #D7D7D7;
  border-radius: 50%;
  float: left;
  z-index: 9;
  position: absolute;
  left: 20px;
  top: 20px;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: center;
  animation-delay: 0s;
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1); }

.loader2 {
  width: 40px;
  height: 40px;
  background-color: rgba(215, 215, 215, 0.8);
  border-radius: 50%;
  float: left;
  z-index: 8;
  opacity: 0.7;
  position: absolute;
  left: 10px;
  top: 10px;
  -webkit-animation-name: pulse2;
  animation-name: pulse2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
  transform-origin: center;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); }

.loader3 {
  width: 60px;
  height: 60px;
  background-color: rgba(215, 215, 215, 0.6);
  border-radius: 50%;
  float: left;
  z-index: 7;
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation-name: pulse3;
  animation-name: pulse3;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
  transform-origin: center;
  transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); }

.main-loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px; }

.preloader-group {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100vw;
  height: 100vh;
  z-index: 555; }

footer {
  padding-top: 70px;
  padding-bottom: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

/*# sourceMappingURL=main.css.map */
