{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "chrome": "57"
        }
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    [
      "@babel/transform-arrow-functions",
      {
        "spec": true
      }
    ]
  ],
  "retainLines": true
}
