# Created with the help of https://www.gitignore.io/api/wordpress,sublimetext,grunt,sass,osx,git,tower

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

# Package control specific files
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
bh_unicode_properties.cache

# Sublime-github package stores a github token in this file
# https://packagecontrol.io/packages/sublime-github
GitHub.sublime-settings

# Sublime-Grunt package cache file
.sublime-grunt.cache

# PHP Intel package
.phpintel/
### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

#Composer
/vendor
composer.lock

# generated of README.md
README.html

# SASS
*.sass-cache*

### Gulp ###
# Gulp usually compiles files inside this directory
# dist/
build/

### Others ###
config.yml
*.log
.idea/
*.swp
packaged/
wpcs/
node_modules
package-lock.json
npm-debug.log

