<footer class="main-footer">
	<div class="container">
		<div class="footer-column footer-text-widget">
			<div class="disclaimer">
				<div class="disclaimer__logo">
					<a id="logo-footer" href="/"><img src="assets/images/logo-label.svg" alt="SmartUp" /></a>
				</div>
				<p class="disclaimer__text">Un site Internet qui propose des ressources pour développer vos compétences et vos projets.</p>
			</div>
		</div>
		<div class="footer-column footer-menu-widget">
			<div class="footer-menu">
				<h3 class="footer-menu__title">Contenus</h3>
				<ul class="footer-menu__list">
					<li><a href="#">Proposer un contenu</a></li>
				</ul>
			</div>
		</div>
		<div class="footer-column footer-menu-widget">
			<div class="footer-menu">
				<h3 class="footer-menu__title">A propos</h3>
				<ul class="footer-menu__list">
					<li><a href="#">A propos de BizzTuto</a></li>
					<li><a href="#">Termes & Conditions</a></li>
				</ul>
			</div>
		</div>
		<div class="footer-column footer-menu-widget">
			<div class="footer-menu">
				<h3 class="footer-menu__title">Contact</h3>
				<ul class="footer-menu__list">
					<li><a href="#">Questions fréquentes</a></li>
					<li><a href="#">Contactez-nous</a></li>
				</ul>
			</div>
		</div>
		<div class="footer-column footer-social-widget">
			<ul class="footer-social">
				<!--<li><a href="https://twitter.com/">
					<img src="assets/images/twitter.svg" alt="Twitter">
				</a></li>-->
				<li><a href="https://www.facebook.com/" class="facebook">
					<img src="assets/images/fb.svg" alt="Facebook">
				</a></li>
				<li><a href="https://www.instagram.com/" class="instagram">
					<img src="assets/images/inst.png" alt="Instagram">
				</a></li>
			</ul>
		</div>
	</div>
</footer>

@@include('./_footer-core.html')
