<header class="main-header">
	<div class="container">
		<div class="column left-side">
			<a id="logo" href="/"><img src="assets/images/logo-big.svg" alt="SmartUp" /></a>
		</div>
		<div class="column right-side">
			<a href="/" class="button header-button hide-on-mobile">Mes ressources</a>
			<div class="user-area">
				<div class="user-info">
					<div class="user-avtar">
						<img src="assets/images/user.png" alt="User"/>
					</div>
					<div class="user-name">Jérémy</div>
					<span class="curret"></span>
				</div>
				<ul class="user-dropdown">
					<li><a href="#">Mon profil</a></li>
					<li class="hide-on-desktop"><a href="#">Mes ressources</a></li>
					<li><a href="#">Mes produits</a></li>
					<li><a href="#">Deconnexion</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
