<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Aija</title>

	<!-- Load main custom styles -->
	<link rel="stylesheet" href="./assets/css/main.css">

</head>
<body>

<!-- Preloader START -->
<div id="preloaderGroup" class="preloader-group">
	<div class="main-loader">
		<span class="loader1"></span>
		<span class="loader2"></span>
		<span class="loader3"></span>
	</div>
</div>
<!-- Preloader END -->

