<div class="tab-card simple" data-id="ux_design">
	<div class="tab-card__main">
		<!-- card header -->
		<div class="tab-card__header">
			<img class="tab-card__header-image" src="assets/images/card-image.jpg" alt="Tab Card Image">
		</div>
		<!-- card content -->
		<div class="tab-card__content">
		  <ul class="tag-type-list">
			  <li class="tag-type">
				  <a class="tag-tab-link" href="#">UX & Design</a>
			  </li>
		  </ul>
			<h4 class="tab-card-title">Analysez et optimisez les résultats de votre projet digital grâce à Inspectlet.</h4>
			<span class="tab-card-author">Jeremy Goldyn</span>
			<div class="tab-card-details">
				<div class="tab-card-looking">
					<img class="icon" src="assets/images/lightbulbr.svg" alt="Card Look">
					<span class="number">435</span>
				</div>
				<div class="tab-card-rating">
					<img class="icon" src="assets/images/star.svg" alt="Card Rating">
					<span class="number">3.5</span>
				</div>
			</div>

		</div>
	</div>
	<!-- card footer -->
	<div class="tab-card__footer">
		<a href="#" class="tab-card__button">
			<span class="label">
				Gratuit
			</span>
		</a>
	</div>
</div>
